In [3]:
import pandas as pd
from datetime import datetime, timedelta

# Foreign

generating file name automatically

In [64]:
nextdate = '20230102'
for _ in range(27):
    nextdate = pd.to_datetime(nextdate, format='%Y%m%d') + timedelta(days=7)
    #strdate = str(pd.to_datetime(startdate, format='%Y%m%d') + timedelta(days=7))
    #print(strdate[0:4]+strdate[5:7]+strdate[8:10])
    #strdate.replace('-','')
    #print(str(nextdate)[0:10].replace('-',''))
    filename = str(nextdate)[0:10].replace('-','')+'.csv'
    print(filename)

20230109.csv
20230116.csv
20230123.csv
20230130.csv
20230206.csv
20230213.csv
20230220.csv
20230227.csv
20230306.csv
20230313.csv
20230320.csv
20230327.csv
20230403.csv
20230410.csv
20230417.csv
20230424.csv
20230501.csv
20230508.csv
20230515.csv
20230522.csv
20230529.csv
20230605.csv
20230612.csv
20230619.csv
20230626.csv
20230703.csv
20230710.csv

In [65]:
filename

'20230710.csv'

## Import and Preprocess Data

csv utf-8로 재저장해야 import 가능

In [72]:
nextdate = '20230102'
data = pd.DataFrame()
for _ in range(27):
    nextdate = pd.to_datetime(nextdate, format='%Y%m%d') + timedelta(days=7)
    filename = str(nextdate)[0:10].replace('-','')+'.csv'
    path = "/Users/ce/Desktop/GSDS/2023_Summer/dacon_krx/rawdata/foreign/"+filename
    
    try:
        raw = pd.read_csv(path, encoding='utf-8')
    except:
        
        continue
#    raw = pd.read_csv(path, encoding='utf-8')
    data = pd.concat([data,raw])

In [75]:
#exception
raw = pd.read_csv("/Users/ce/Desktop/GSDS/2023_Summer/rawdata/dacon_krx/foreign/20230530.csv", encoding='utf-8')
data = pd.concat([data,raw])
raw = pd.read_csv("/Users/ce/Desktop/GSDS/2023_Summer/rawdata/dacon_krx/foreign/20230502.csv", encoding='utf-8')
data = pd.concat([data,raw])
raw = pd.read_csv("/Users/ce/Desktop/GSDS/2023_Summer/rawdata/dacon_krx/foreign/20230125.csv", encoding='utf-8')
data = pd.concat([data,raw])

In [91]:
data.head()

,종목코드,종목명,종가,대비,등락률,상장주식수,외국인 보유수량,외국인 지분율,외국인 한도수량,외국인 한도소진율
0,60310,3S,2240,55,2.52,48536642,3253109,6.70,48536642,6.70
1,95570,AJ네트웍스,5860,140,2.45,46822295,1665289,3.56,46822295,3.56
2,6840,AK홀딩스,16500,450,2.80,13247561,414720,3.13,13247561,3.13
3,54620,APS홀딩스,13700,50,0.37,20394221,285506,1.40,20394221,1.40
4,265520,AP시스템,19000,300,1.60,15281421,1364961,8.93,15281421,8.93

In [88]:
#data.to_csv("foreign.csv", index=False)

In [17]:
foreign = pd.read_csv("foreign.csv")

In [19]:
foreign.shape

(73166, 10)

# Short

In [11]:
nextdate = '20230102'
data = pd.DataFrame()
for _ in range(27):
    nextdate = pd.to_datetime(nextdate, format='%Y%m%d') + timedelta(days=7)
    filename = str(nextdate)[0:10].replace('-','')+'.csv'
    path = "/Users/ce/Desktop/GSDS/2023_Summer/dacon_krx/rawdata/short/"+filename
    
    try:
        raw = pd.read_csv(path, encoding='utf-8')
    except:
        
        continue
#    raw = pd.read_csv(path, encoding='utf-8')
    data = pd.concat([data,raw])

In [13]:
#exception
raw = pd.read_csv("/Users/ce/Desktop/GSDS/2023_Summer/dacon_krx/rawdata/short/20230530.csv", encoding='utf-8')
data = pd.concat([data,raw])
raw = pd.read_csv("/Users/ce/Desktop/GSDS/2023_Summer/dacon_krx/rawdata/short/20230502.csv", encoding='utf-8')
data = pd.concat([data,raw])
raw = pd.read_csv("/Users/ce/Desktop/GSDS/2023_Summer/dacon_krx/rawdata/short/20230125.csv", encoding='utf-8')
data = pd.concat([data,raw])

In [20]:
data.shape

(27843, 13)

In [21]:
#data.to_csv("short.csv", index=False)

In [22]:
pd.read_csv('short.csv')

,종목코드,종목명,증권구분,수량_공매도거래량_전체,수량_공매도거래량_업틱룰적용,수량_공매도거래량_업틱룰예외,수량_거래량,수량_비중,금액_공매도거래대금_전체,금액_공매도거래대금_업틱룰적용,금액_공매도거래대금_업틱룰예외,금액_거래대금,금액_비중
0,95570,AJ네트웍스,주권,1,0,1,141266,0.00,5.900000e+03,0.000000e+00,5900,8.294119e+08,0.00
1,6840,AK홀딩스,주권,129,0,129,5148,2.51,2.128500e+06,0.000000e+00,2128500,8.448175e+07,2.52
2,27410,BGF,주권,154,0,154,172238,0.09,6.575800e+05,0.000000e+00,657580,7.328470e+08,0.09
3,282330,BGF리테일,주권,6330,6279,51,35024,18.07,1.219879e+09,1.210114e+09,9765500,6.754263e+09,18.06
4,138930,BNK금융지주,주권,33046,24589,8457,1007604,3.28,2.235495e+08,1.664355e+08,57114040,6.823858e+09,3.28
...,...,...,...,...,...,...,...,...,...,...,...,...,...
27838,5010,휴스틸,주권,9,0,9,571273,0.00,4.977000e+04,0.000000e+00,49770,3.195143e+09,0.00
27839,540,흥국화재,주권,23,0,23,34730,0.07,8.107500e+04,0.000000e+00,81075,1.220268e+08,0.07
27840,547,흥국화재2우B,주권,0,0,0,4188,0.00,0.000000e+00,0.000000e+00,0,7.961734e+07,0.00
27841,545,흥국화재우,주권,0,0,0,1270,0.00,0.000000e+00,0.000000e+00,0,8.120220e+06,0.00
27842,3280,흥아해운,주권,142,0,142,150954,0.09,2.010720e+05,0.000000e+00,201072,2.144992e+08,0.09

# Index

In [33]:
index = pd.read_csv("./index/주식시장(일)_16151844.csv")

In [34]:
index.head()
#원자료 = kospi 지수

,변환,원자료,원자료.1,원자료.2,원자료.3,원자료.4,원자료.5,원자료.6,원자료.7,원자료.8,원자료.9,원자료.10
0,2023/07/14,"2,628.30","56,121","140,128","5,882",NaN,NaN,"20,835,650",896.28,"104,149","121,861",235
1,2023/07/13,"2,591.23","57,379","131,022","2,173","58,566","132,580","20,561,440",893.07,"112,233","125,684","1,778"
2,2023/07/12,"2,574.72","68,615","125,499","2,188","69,692","132,299","20,431,340",879.88,"104,312","105,951","-1,930"
3,2023/07/11,"2,562.49","58,415","104,551","2,687","59,413","105,965","20,335,890",878.73,"93,539","90,829","3,207"
4,2023/07/10,"2,520.70","55,320","95,331","-1,557","56,182","96,987","20,000,750",860.35,"101,498","97,216",-974

In [35]:
index.rename(columns={'변환':'DATE'
                      ,'원자료':'KOSPI','원자료.1':'거래량(만주)','원자료.2':'거래대금(억원)','원자료.3':'외국인순매수(억원)','원자료.4':'주식시장_거래량(만주,시간외거래분포함)','원자료.5':'주식시장_거래대금(만주,시간외거래분포함)'
                      ,'원자료.6':'시가총액(주식시장,잠정치)','원자료.7':'KOSDAQ','원자료.8':'거래량(만주)(잠정치)','원자료.9':'거래대금(억원)(잠정치)','원자료.10':'외국인순매수(잠정치)'}, inplace=True)

In [36]:
index.head()

,DATE,KOSPI,거래량(만주),거래대금(억원),외국인순매수(억원),"주식시장_거래량(만주,시간외거래분포함)","주식시장_거래대금(만주,시간외거래분포함)","시가총액(주식시장,잠정치)",KOSDAQ,거래량(만주)(잠정치),거래대금(억원)(잠정치),외국인순매수(잠정치)
0,2023/07/14,"2,628.30","56,121","140,128","5,882",NaN,NaN,"20,835,650",896.28,"104,149","121,861",235
1,2023/07/13,"2,591.23","57,379","131,022","2,173","58,566","132,580","20,561,440",893.07,"112,233","125,684","1,778"
2,2023/07/12,"2,574.72","68,615","125,499","2,188","69,692","132,299","20,431,340",879.88,"104,312","105,951","-1,930"
3,2023/07/11,"2,562.49","58,415","104,551","2,687","59,413","105,965","20,335,890",878.73,"93,539","90,829","3,207"
4,2023/07/10,"2,520.70","55,320","95,331","-1,557","56,182","96,987","20,000,750",860.35,"101,498","97,216",-974

In [43]:
index.to_csv("index.csv", index=False)

In [44]:
index = pd.read_csv("index.csv")

In [45]:
index.head()

,DATE,KOSPI,거래량(만주),거래대금(억원),외국인순매수(억원),"주식시장_거래량(만주,시간외거래분포함)","주식시장_거래대금(만주,시간외거래분포함)","시가총액(주식시장,잠정치)",KOSDAQ,거래량(만주)(잠정치),거래대금(억원)(잠정치),외국인순매수(잠정치)
0,2023/07/14,"2,628.30","56,121","140,128","5,882",NaN,NaN,"20,835,650",896.28,"104,149","121,861",235
1,2023/07/13,"2,591.23","57,379","131,022","2,173","58,566","132,580","20,561,440",893.07,"112,233","125,684","1,778"
2,2023/07/12,"2,574.72","68,615","125,499","2,188","69,692","132,299","20,431,340",879.88,"104,312","105,951","-1,930"
3,2023/07/11,"2,562.49","58,415","104,551","2,687","59,413","105,965","20,335,890",878.73,"93,539","90,829","3,207"
4,2023/07/10,"2,520.70","55,320","95,331","-1,557","56,182","96,987","20,000,750",860.35,"101,498","97,216",-974